main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#LoginPage{
    background-image: linear-gradient( to bottom right, #606B9B,  #B191D4);    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 50%;
    box-shadow: 50px 1px 70px #8888;
}
#title{
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    color: white;
    padding-left: 2.5em;
    text-align: left;
    padding-bottom: 0.5em;
}
#subheader{
    color: #70C7A9;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-align: left;
    padding-left: 5em;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
}
button{
    background-color: #70C7A9;
    font-family: helvetica;
    color: white;
    border: none;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 5vw;
    height: 4vw;
    padding: 5px;
    padding-left: 0px;
}